body {
	margin:0;
	font-size: 14px;
	height: 100%;
}
html {
	height: 100%;
}
#softphonebar {
	height:70px;
	margin: 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid #D9D9D9;
}
table tr {
	border-bottom: 1px solid #D9D9D9;
}
.mrg5 {
	margin: 5px;
}

.clear1, .clear2, .clear5, .clear10 {
	overflow: hidden;
	clear: both;
}

.clear1{
	height:1px;
}

.clear2{
	height:2px;
}

.clear5{
	height:5px;
}

.clear10{
	height:10px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

img {
	border:0;
}
.peerTimeState {
	color: #74dc83;
	margin-left: 10px;
}

.userStatus {
	color: #8a8a8a;
	text-decoration: none;
}
.ponit {
	width: 6px;
	height: 6px;
	display: inline-block;
	border-radius: 50%;
	background-color: #8a8a8a;
	margin-right: 5px;
	margin-bottom: 1px;
}
.line {
	height: 10px;
	width: 1px;
	margin: 0px 10px;
	display: inline-block;
	background-color: #cccccc;
}
#callStatus {
	clear: both;
	overflow: hidden;
}
#callStatus .ipt {
	width:240px;
	height:20px;
	overflow: hidden;
	margin-top: 14px;
	text-indent: 10px;
	padding-top: 4px;
}
#callStatus ul {
	float: left;
}
#callStatus ul li {
	float: left;
	list-style: none;
	margin-left: 10px;
}
#callStatus ul li a {
	display: inline-block;
	border-radius: 4px;
	background-color: #4DB690;
	width: 74px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
	text-decoration: none;
}
#callStatus ul li .disable {
	display: inline-block;
	border-radius: 4px;
	background-color: #B2B2B2;
	width: 74px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #ffffff;
}
#callStatus ul li :hover {
	cursor: pointer;
}
.icon {
	margin-top: 1px;
	margin-left: 7px;
	padding-left: 6px;
	width: 17px;
	height: 18px;
	display: inline-block;
}
.outcallIcon {
	background: url('../imgs/outcall.png') no-repeat;
	background-size: 57%;
	background-position-y: 5px
}
.handupIcon {
	background: url('../imgs/handup.png') no-repeat;
	background-size: 57%;
	background-position-y: 5px
}
.holdIcon {
	background: url('../imgs/hold.png') no-repeat;
	background-size: 57%;
	background-position-y: 5px
}
.transferIcon {
	background: url('../imgs/tranferEnable.png') no-repeat;
	background-size: 57%;
	background-position-y: 5px
}
.webchatIcon {
	background: url('../imgs/webchat.png') no-repeat;
	background-size: 57%;
	background-position-y: 5px
}
.threeWaycall {
	background: url('../imgs/threeWaycall.png') no-repeat;
	background-size: 57%;
	background-position-y: 5px
}
.transferSatisfactionIcon {
	background: url('../imgs/transferSatisfaction.png') no-repeat;
	background-size: 57%;
	background-position-y: 5px
}
table {
	border-bottom: 1px solid #cccccc;
	height:30px;
	line-height: 30px;
}
table tr td {
	font-weight: normal;
	color: #424242;
}
.first-tr td{
	font-weight: bold;
}
.operation {
	color: #4DB690;
	text-decoration: none;
}
.dialoutBox {
	position: absolute;
	top: 0;
	background: #f2f2f2;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75);
	opacity: 0.6;
	left: 0;
	zIndex: 10000;
}
.dialoutCenterBox {
	border-radius: 6px;
	background: #ffffff;
	position: absolute;
	font: 12px/1.6em Verdana, Geneva, Arial, Helvetica, sans-serif;
	textAlign: left;
	lineHeigth: 25px;
	z-index: 10001;
}
.backGround {
	height: 100%;
	background: url("../imgs/background.png") no-repeat;
	background-position-y: 408px;
	background-size:100%;
}
.logo {
	text-align: center;
	padding-top: 80px;
}
.content {
	position: relative;
	padding: 50px 20px 20px 42px;
	height: 317px;
	width: 360px;
	margin: 30px auto;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 1px 2px 3px 2px RGBA(0, 0, 0, 0.06);
	box-sizing: border-box;
}
.content input {
	border-radius: 4px;
	border: 1px solid #cbcbcb;
	width: 280px;
	height: 36px;
	/*text-indent: 6px;*/
	margin-bottom: 25px;
	padding-left: 44px;
	box-sizing: border-box;
}
.content select {
	width: 280px;
	height: 36px;
	border: 1px solid #cbcbcb;
	border-radius: 4px;
}
.conLabel {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
.content .login {
	width: 280px;
	height: 42px;
	color: #ffffff;
	text-align: center;
	display: block;
	margin-top: 12px;
	line-height: 42px;
	text-decoration: none;
	border-radius: 4px;
	background-color: RGBA(77, 182, 144, 1);
}
.dialoutCenterBox .confirm {
	color: #ffffff;
	background-color: #4DB690;
	width: 52px;
	height: 30px;
	display: block;
	line-height: 30px;
	text-decoration: none;
	border-radius: 4px;
	margin-left: 30px;
}
#cover{
	position:absolute;
	left:0px;
	top:0px;
	background-color:#000000;
	width:100%;
	height:100%;
	filter:alpha(opacity=60);
	opacity:0.6;
	display:none;
	z-Index:999;
}
.ipt {
	float: left;
	margin-left:5px;
	height: 28px;
	text-indent: 4px;
	border: 1px solid #ccc
}
.btn {
	float: left;
	margin-left: 5px;
	color: #ffffff;
	background-color: #4DB690;
	border: 1px solid;
	padding: 6px 10px;
	margin-top: 1px
}
.chooseStatusBtn {
	display: none;
}
.chooseStatusBtnLabel {
	width: 40px;
	height: 20px;
	display: inline-block;
	border-radius: 20px;
	position: relative;
	background-color: #4DB690;
	overflow: hidden;
	vertical-align: middle;
}
.chooseStatusBtnLabel:before {
	content: '';
	position: absolute;
	right: 0;
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 20px;
	background-color: #fff;
	z-index: 20;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.chooseStatusBtn:checked + label.chooseStatusBtnLabel:before {
	right: 20px;
}
.chooseStatusBtn:checked + label.chooseStatusBtnLabel {
	background-color: #c1c1c1;
}
.loginTap {
	clear: both;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	margin-top: 15px;
}
.loginTap .conLabelLogin {
	font-size: 14px;
}
.loginTap #icc-login-loginType {
	width: 66px;
	height: 30px;
	border: none;
	outline: none;
	font-size: 14px;
}
.loginTapContent {
	float: left;
}
.statusBtn {
	float: right;
	margin-right: 35px;
}
.username {
	position: absolute;
	top: 58px;
	left: 60px;
	width: 16px;
	height: 18px;
	background: url(../imgs/username.png) no-repeat;
}
.password {
	position: absolute;
	top: 118px;
	left: 60px;
	width: 14px;
	height: 18px;
	background: url(../imgs/password.png) no-repeat;
}
